.map-view-toolbar {
  position: absolute;
  top: 0;
  height: 0;
  background-color: #202c35;
  height: 40px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1000;
}
